

  .container {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }
  .container > form {
    width: 70%;
    border: 1px solid #dfdfdf;
    padding: 20px;
    border-radius: 5px;
    background: #fff;
    margin-top: 10%;
  }
  pre {
    width: 70%;
    color: #000000;
    font-size: larger;
  }
  button {
    background: rgb(233, 233, 81) !important;
    color: black !important;
  }
  p {
    color: red;
  }
